/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */


.col-1 {
  width: 66%;
}

.col-2 {
  width: 32%;
}

 [class*="col-"] {
    float: left;
    margin-left: 2%;
  }
  
  [class*="col-"]:first-child {
    margin-left: 0;
  }
   
 .feature_rows {
    clear: both;
    margin-bottom: 2%;
  }

 .feature_rows:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }
  
 .details_row {
    clear: both;
    margin-bottom: 2%;
  }

 .details_row:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }
  
  
